*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Gradle
build/
.gradle

# Eclipse
.classpath
.project
.settings/
.cache-main

# Scala-IDE specific
.scala_dependencies
.worksheet
/bin/
